<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>YourTube</title>

    <!-- Bootstrap core CSS -->
    {% include "html_reference.html"%}
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar.css" rel="stylesheet">
</head>

<body>

<div class="container">
    <nav class="navbar navbar-light bg-faded">
        <div class="navbar-toggleable-xs" id="navbar-header">

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu">
                    {% if not session['account']%}
                    <a class="dropdown-item" href="/login"><i class="fa fa-sign-in"
                                                              aria-hidden="true"></i>&nbsp;Login</a>
                    {%endif%}
                    {% if session['account']%}
                    <h6 class="dropdown-item">{{session['name']}}</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/favorite"><i class="fa fa-heart" aria-hidden="true"></i>&nbsp;Favorite</a>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a>
                    {%endif%}
                </div>
            </div>
            <form class="form-inline float-xs-right" action="/results">
                <input class="form-control" type="text" placeholder="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content%}

    {%endblock%}
</div>
</body>
</html>
